/*black #1B1B1E*/

/*yellow #FAA916*/

/*white #FBFFFE*/

/*dark grey #6D676E*/

/*red #96031A*/

/*UNCC GREEN #046A38*/

/*UNCC GOLD #B9975B*/

/*center-box*/

/*body*/

body {
    font-family: 'Frijole', cursive;
}

html{
    scroll-behavior: smooth;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #96031A;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #FAA916;
  }

 
/* -------------------------------------------- NAV ---------------------------------------- */

.navbar{
    z-index: 1000;
    overflow: hidden;
}
.nav-link{
    color: #FAA916;
    font-size: 2em;
    font-style: italic;
    margin-right: 1em;
}

.navbar a:hover{
    color: #FBFFFE;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 102px;
}

.content {
    padding: 16px;
}
/* END NAV */


/* TITLE */
.title-underline{
    width: 10em;
    border: 0.25em solid #FAA916;
    margin: 0 auto 4em auto;
}

/* ------------------------------------------ HEADER -------------------------------------- */
header{
    height: 100vh;
    background: url(/img/mountains.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#header-more{
    height: 100%;
}

.box{
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.txt-type{
    color: #96031A;
}

header .card{
    border-radius: 0;
    border: 0.2em solid #6D676E;
    background-color: #FBFFFE; 
    opacity: 0.7;
}

header .card a{
    color: #1b1b1e;
    width: 6em;
    margin: 0 auto;
    border-radius: 0;
    font-size: 1.5em;
}

header .card a:hover{
    color: #FAA916;
}

header i{
    font-size: 5em;
    color: #FAA916;
}

 header i a{
     width: 100%;
 }

header i:hover{
    color: #1b1b1e;
}

header .col-md-6{
    padding: 2em;
}

header .doc{
    height: 95vh;
}
/* END OF HEADER HEADER */

/* --------------------------------ABOUT SECTION---------------------------*/
#about h3{
    text-align: center;
}

#about h3 span a{
    color: #046A38;
}



/* ----------------------------------- HOBBIES SECTIONS -------------------------------------*/
#hobbies{
    padding: 10em 2em 2em 2em;
}



#hobbies .card{
    position: relative;
    border-radius: 0;
    border: none;
    margin-bottom: 2em;
}

#hobbies .card-text{
    margin: 2em 0;
}

#hobbies .small-text-underline{
    width: 4em;
    border: 0.22em solid #FAA916;
    margin: 0 auto;
}

#hobbies .corner-text{
    position: absolute;
    padding: 0.5em;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #FAA916;
}

#hobbies .corner-text p{
    margin-bottom: 0;
}

#hobbies button{
    background-color: #FAA916;
    color: #1b1b1e;
    width: 6em;
    margin: 0 auto;
    border-radius: 3em;
    font-size: 1.5em;
}

#hobbies a:hover{
    color: #FAA916;
    background-color: #1b1b1e;
}

#hobbies img{
    transition: transform 4s ease-in-out;
}

.holder{
    overflow: hidden;
}

#hobbies img:hover{
    transform: scale(1.3);
}
/*END OF HOBBIES SECTION */









/* ---------------------------------- SKILLS SECTION --------------------------------- */
#skills{
    background-color: #1b1b1e;
    color: #FBFFFE;
    padding: 10em 2em 2em 2em;
}

#skills .col-md-6{
    padding: 2em;
}

#skills .fab{
    font-size: 4em;
    margin-bottom: 0.25em;
    color: #96031A;
}

#skills .fab:hover{
    color: #FAA916;
}
/* END OF SKILLS SECTION*/





/* ----------------------------------- WORK SECTION-------------------------------------  */
#work{
    background-color: #6D676E;
    padding: 10em 2em 2em 2em;
}

#work .col-sm-6{
    padding-left: 0!important;
    padding-right: 0!important;
}

#work .col-sm-6:hover{
    opacity: 0.6;
}

#work img{
    transition: transform 4s ease-in-out;
}

#work img:hover{
    transform: scale(1.2);
}

/* END OF WORK SECTION */


/* ABOUT SECTION */
#about{
    padding: 10em 2em 2em 2em;
    background-color: #1b1b1e;
    color: #FBFFFE;
}







/* ---------------------------------- FOOTER SECTION------------------------------ */

#footer{
    padding: 2em;
    background-color: #FAA916;
}

#footer .title-underline{
    background-color: #96031A
}

#footer a{
    color: #1b1b1e;
    font-size: 3em;
    margin: 0.25em;
}

#footer a:hover{
    color: #FBFFFE;
}

#footer h3{
    margin-top: 2em;
}

#footer .title-underline{
    width: 10em;
    border: 0.25em solid #FBFFFE;
    margin: 0 auto 4em auto;
}


/* END OF FOOTER SECTION */


























/* ---------------------------------- MEDIA ------------------------------------- */

@media screen and (max-width: 768){
    header .col-md-6{
        padding: 4em;
    }
   
    
}


@media screen and (max-width: 768) and (min-width: 576px){
    .last p{
        padding: 0 10em;
    }

    
}

